<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
	
<head>	
	<title>Funcionário</title>	
</head>
	
<section layout:fragment="conteudo">
	<div class="card">       
       <div class="card-header" >
       		<div class="row">
	            <div class="clearfix">
	            	<h2 class="css-new-header">Funcionários sem projeto</h2>
	            </div>
	        </div>
	        <div class="row">
	            <div >
					<form method="GET" class="form-inline" action="/wa/funcionarios" th:object="${filtro}">
					    <input class="form-control mr-sm-2" type="search" placeholder="Nome" aria-label="Pesquisar" autofocus="autofocus" th:field="*{nome}">
					    <span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
									  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
									</svg>
								</button>
							</span>
				  	</form>
	            </div>
	            
	            <div class="my-2 my-md-0 mr-md-3">
	            	<a class="btn btn-outline-primary" href="/wa/funcionarios/cadastrar" role="button">Cadastrar funcionário</a>
	            </div>

            </div>
       </div>

		
		<div class="card-body card-bordered">
			<table class="table table-hover table-striped" id="tabela-funcionarios">
				<thead>
					<tr>
						<th class="text-center">Empresa</th>
						<th class="text-center">Matrícula</th>
						<th class="text-center">Nome</th>
						<th class="text-center">Cargo</th>
						<th class="text-center">Tecnologias</th>
						<th class="text-center">Início WA</th>
						<th class="text-center">Previsão Término WA</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="funcionario : ${todosFuncionarios}">
						<td class="text-center"	th:text="${funcionario.gft.nome}"></td>
						<td class="text-center" th:text="${funcionario.matricula}"></td>
						<td class="text-center"	th:text="${funcionario.nome}"></td>
						<td class="text-center" th:text="${funcionario.cargo}"></td>
						<td class="text-left">
							<div class="tecnologia-item" th:each="tecnologia : ${funcionario.tecnologias}">
								<img class="rounded" th:src="${tecnologia.localImagem}">
							</div>
						</td>
						<td class="text-center" th:text="${{funcionario.inicioWa}}"></td>
						<td class="text-center" th:text="${{funcionario.terminoWa}}"></td>
						<td class="text-center" >
							<a class="btn btn-link btn-xs"
								rel="tooltip" data-placement="top" title="Editar"
								th:href="@{/wa/funcionarios/{id}(id=${funcionario.id})}">
								<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="black" xmlns="http://www.w3.org/2000/svg">
	  								<path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
								</svg>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" th:attr="data-nome=${funcionario.nome}, data-id=${funcionario.id}, data-matricula=${funcionario.matricula}" 
									title="Excluir" rel="tooltip" data-placement="top">
								<span>
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg">
									 	<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
									 	<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
									</svg>
								</span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="12" th:if="${#lists.isEmpty(todosFuncionarios)}">Nenhum funcionário cadastrado no sistema.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="ModalConfirmacaoExclusaoFuncionario"></div>
	</div>
</section>
</html>