<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
	
<head>	
	<title>Inicio</title>	
</head>
	
<section layout:fragment="conteudo">
	<div class="card">
		<div class="row">		
			<div class="card-body">
				<div class="jumbotron jumbotron-fluid">
				  <div class="container">
				    <h4 class="display-4">Gerenciamento de colaboradores sem projeto</h4>
				    <p class="lead">Este sistema é específico para gerenciar colaboradores que não estão alocados em projeto.</p>
				    <hr class="my-4">			    
				    <a class="btn btn-primary btn-lg" href="/wa/popularbanco" role="button"
					   rel="tooltip" data-placement="top" title="Clicar somente uma vez para inserir dados para teste">Popular Banco de Dados</a>
				  </div>
				</div>		
			</div>
		</div>		
	</div>
	
	<!-- Incluindo o arquivo rodapé na página padrão -->
	<footer th:replace="Rodape"></footer>
</section>
</html>